<div class="center jumbotron">
  <%= link_to "Doctor signup", new_doctor_registration_path,class: "btn btn-lg btn-primary"%>
  <%= link_to "Patient signup", new_patient_registration_path,class: "btn btn-lg btn-primary"%>
  <select name="city_id" id="city_id">
  <option value="1">Lisbon</option>
  <option value="2">Madrid</option>
  ...
  <option value="12">Berlin</option>
</select>
</div>


