<div class="container">        
      <h3>Add a Appointment</h3>   
     
          <div>   
            <label>Patient name</label>   
            <%= @appointment.patient %>   
          </div>   

          <div>   
            <label>Doctor Name </label>   
            <%= @pappointment.doctor %>   
          </div>   
          
          <div>   
            <label>Timing</label>   
            <%= @appointment.timing %>   
          </div>   
       
    <div>   
      <%= link_to 'Back', { controller: 'appointments', action: 'index'} %>   
    </div>   
</div>  